.screen__status{
    background: $black;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    &__left{
        display: flex;
        align-items: center;
        gap: 2rem;
        &__questionNumber{
            height: 4rem;
            padding: 2rem;
            background: $gray;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.4rem;
            font-size: 1.4rem;
            font-weight: 700;
        }
    }
}
